.square {
  width: 35px;
  height: 35px;
  background-color: #00ced1;
  border-color: #1e90ff;
}

.square:hover {
  width: 35px;
  height: 35px;
  background-color: #ff00ff;
  border-color: #8b008b;
}

.ship {
  width: 35px;
  height: 35px;
  background-color: #8000ff;
  border-color: #8b008b;
}

.hiddenship {
  width: 35px;
  height: 35px;
  background-color: #00ced1;
  border-color: #1e90ff;
}

.selected {
  width: 30px;
  height: 30px;
  background-color: #ff00ff;
  border-color: #8b008b;
}

.normal {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-color: #ccc;
}

.normal:hover {
  width: 30px;
  height: 30px;
  background-color: #ff00ff;
  border-color: #8b008b;
}

.start {
  background-color: #ffbf00;
  border-color: #ffbf00;
}

.congrats {
  color: #ffbf00;
}

.restart {
  background-color: #80cd32;
  border-color: #80cd32;
}

.miss {
  width: 35px;
  height: 35px;
  background-color: #9999ff;
  border-color: #00ced1;
}

.hit {
  width: 35px;
  height: 35px;
  background-color: #cc0038;
  border-color: #cc0038;
}

.sunk {
  width: 35px;
  height: 35px;
  background-color: #666;
  border-color: #666;
}

.won {
  width: 35px;
  height: 35px;
  background-color: #ffbf00;
  border-color: #ffbf00;
}
